.main-content {
	position: relative;
	margin-top: 45px;
}
.navbar-brand > img {
	display: inline-block;
}
.area-top {
	background: #ececec;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));
	background-image: -webkit-linear-gradient(top,#fafafa,#ececec);
	background-image: -moz-linear-gradient(top,#fafafa,#ececec);
	background-image: -o-linear-gradient(top,#fafafa,#ececec);
	background-image: linear-gradient(top,#fafafa,#ececec);
	-webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	border-bottom: 1px solid #ccc;
	position: relative;
	width: 100%;
	padding: 10px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.area-top .header h3 {
	line-height: 35px;
}
.area-top .header h3, .area-top .header i {
	color: #888;
}
.area-top .header h3, .area-top .header h5 {
	margin: 0;
	font-weight: 300;
}