<!-- START backbone/modules/layout/templates/LayoutTemplate -->
<div class="navbar navbar-inverse navbar-fixed-top topNavbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="mobileNavButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primarySidebar">
                <i class="fa fa-align-justify"></i>
            </button>
            <a href="index.html" class="navbar-brand">
                <img src="images/redpillLogo.png" height="32px" />
            </a>
        </div>
        <div class="collapse navbar-collapse rpdNavbarLinks" id="navbarCollapse1">

        </div>
    </div>
</div>

<div id="mainContent" class="main-content">
    <div id="mainContentHeader" class="container-fluid">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="rpdHeaderTitleText"></h3>
                    <h5 class="rpdHeaderSubTitleText"></h5>
                </div>
            </div>
        </div>
    </div>
    <div id="contentAreaContainer" class="container">
        <div id="contentArea" class="row padded">

        </div>
    </div>
</div>
<!-- END backbone/modules/layout/templates/LayoutTemplate -->