#lotusTitleBar .portlet-tab, .lotusTitleBar .lotusTabs, .lotusTitleBar .portlet-tab {
left:10px;
}
.lotusBanner {
overflow:hidden;
padding:5px 10px 5px 80px;
text-align:left;
}

#lotusFooter th, #lotusFooter td, .lotusFooter th, .lotusFooter td {	
	border:none;
	border-right:1px solid #E0E0E0;
}
#lotusFooter th.lotusLast, #lotusFooter td.lotusLast, .lotusFooter th.lotusLast, .lotusFooter td.lotusLast {	
	border:none;
}

.dj_ie h4 { word-break: break-all }

.viewTable {
	border-collapse: collapse; 
	border: 1px solid #000000;
}
td.headerColumn {
	border: 1px solid #afafaf; 
	font-weight: bold;
	font-size: .8em;
	text-align: center; 
	background: #efefef;
	padding: 4px;
	color: #6F0207;
}
td.valueColumn {
	border: 1px solid #afafaf;
	padding: 3px;
	font-size: .9em;
}
tr.rowEven {
	background: #E7F6FD;
}
tr.rowEven:hover {
	border: 2px dotted #6F0207;;
	cursor: pointer;
	color: #6F0207;
}
tr.rowOdd:hover {
	border: 2px dotted #6F0207;;
	cursor: pointer;
	color: #6F0207;
}
td.rowNumber {
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	color: #6F0207;
	background: #efefef;
}